.flat-steel .sec {
  margin-bottom: 40px;
}

.flat-steel .heading {
  color: $light-black;
  font-size: $font-size-xl;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 20px;
}

 .flat-steel .__desc {
  margin-bottom: 20px;
  font-size: $font-size-m;
  line-height: 22px;
}