.search-result {
  margin-top: 42px;
  margin-bottom: 20px;
}

.search-result .blog_container {
  float: none;
  padding-top: 30px;
  max-width: 65%;
}

.search-result .heading {
  margin-bottom: 10px;
}

.search-result .btn-card {
  width: 145px;
  margin-top: 40px;
  background-image: url('../img/icons/icon_down.png');
  background-repeat: no-repeat;
  background-position: 85% center;
  color: darken($black, 85%);
  font-family: $font-family-roboto;
  font-size: $font-size-m;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  border: 1px solid $gray-light;
}