.page-title-block {
  padding: 65px 0 30px;
  border-bottom: 1px solid $gray-light;

  @media(max-width: 797px) {
    padding: 45px 0 20px;
  }

  @media(max-width: 470px) {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.page-title-block__h1 {
  color: $light-black;
  text-transform: uppercase;
}